<a href = '@Url.Action("Index", "Home")'> <svg  xmlns="http://www.w3.org/2000/svg"  width="45"  height="45"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-home"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l-2 0l9 -9l9 9l-2 0" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg></a>

@{
    int imagenIndex = ViewBag.errores != null ? Math.Min(ViewBag.errores.Count, 5) : 0;
}
<img src="/images/(@imagenIndex).png" alt="foto chaboncito">
<h1 class="palabra">
    @foreach (char letra in ViewBag.render)
    {
        @($"{letra} ")
    }
</h1>

<h3>Letras fallidas:
@foreach (char letra in ViewBag.errores)
    {
        @($"{letra} ")
    }
</h3>
<h3>Intentos: @ViewBag.intentos</h3>

<form action='@Url.Action("GuessLetra", "Home")' method="POST">
    Nueva Letra 
    <input autocomplete="off" type="text" maxlength="1" name="guess" required>
    <input type="submit" value="Arriesgar Letra">
    @if(ViewBag.mensaje != null) {<h3 class="error">@ViewBag.mensaje</h3>}
</form> 

<form action='@Url.Action("GuessPalabra", "Home")' method="POST">
    Palabra a Arriesgar
    <input autocomplete="off" type="text" maxlength="render.Lenght" name="guessPalabra" required>
    <input type="submit" value="Arriesgar Palabra">
</form>
